@font-face {
    font-family: "ubuntu_cmd";
    src:url("../ressources/Ubuntu-Medium.woff") format("woff"),
        url("../ressources/Ubuntu-Medium.woff2") format("woff2");
         
}

body {
    margin: 0;
    background-color: #130;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

#terminal{
    font-family: "ubuntu_cmd", monospace;
    font-size: medium;

    width: 85%;
    height: 75%;
    
    color: white;
    
    
    
}

#terminal_top_bar{

    padding-left: 20px;

    background-color: rgb(32, 32, 32);
    width: calc(100% - 20px);
    height: 44px;

    display: flex;
    align-items: center;
    
}

#terminal_body{

    padding-left: 10px;
    padding-top: 10px;

    height: calc(100% - 44px);

    background: black;

    overflow: auto; 

}

.input::before{
    content: "visiteur@tristan-tourbier.com:~$ ";
}